.card-background {
    background: linear-gradient(45deg, #4a69bd, #38ada9);
    background-size: cover;
    text-align: center;
    background-size: cover;
    background-position: 50%;
    height: 170px;
    width:170px;
    margin: auto;

}

.character-card {
    margin: 1rem;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 1px 3px #999, 0 1px 3px #999;
    height: 200px;
    width: 200px;
    display: flex;
    align-content: center;
}

.character-image {
    max-height: 150px;
    max-width:150px;
    margin: auto;
    background-size: cover;
    background-position: 50%;
    padding-top: 15px;
}

.card:hover {
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;

}